{$DOMAIN} {
	reverse_proxy {$BACKEND_CONTAINER_NAME}:{$BACKEND_CONTAINER_PORT}

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri}
}

dbtdocs.{$DOMAIN} {
	root * /srv/www/dbtdocs
	file_server
}

www.dbtdocs.{$DOMAIN} {
	redir https://dbtdocs.{$DOMAIN}{uri}
}
