{% macro package_line_item(package, color) %}

<li class="package-item" style="border-color: {{ color }}"">
    <span>{{ package }}</span>
    <span class="delete-x" hx-delete="/package-list" hx-trigger="click" hx-target="closest li" hx-swap="outerHTML"
        hx-on::after-request="console.log('Delete complete'); htmx.trigger('#packages-graph', 'dataRefresh')"
        hx-vals='{"package_name": "{{ package }}"}'>
        &times;
    </span>
</li>

{% endmacro %}

{{ package_line_item(package_name, color) }}