{% macro search_input(input_value="") %}
<input 
    type="search" 
    name="package_name" 
    placeholder="Search for python packages..." 
    aria-label="Search"
    value="{{ input_value }}"
    hx-get="/search-results" 
    hx-trigger="input changed delay:200ms, focus[this.value.trim() !== ''], search"
    hx-target="#search-results" 
    hx-swap="outerHTML" 
    hx-sync="closest form:abort"
    hx-on:blur="setTimeout(() => htmx.trigger('#package-form', 'blur'), 100)">
<ul id="search-results"></ul>
{% endmacro %}

{{ search_input(input_value=package_name) }}