{% macro package_line_item(package) %}

<li class="package-item">
    <span>{{ package }}</span>
    <span 
        class="delete-x" 
        hx-delete="/packages"
        hx-trigger="click" 
        hx-target="closest li"
        hx-swap="outerHTML"
        hx-vals='{"package_name": "{{ package }}"}'>
        &times;
    </span>
</li>

{% endmacro %}

{% macro package_list(packages) %}
<ul 
    id="packages" 
    class="package-list" 
    hx-post="/packages" 
    hx-trigger="submit from:#package-form"
    hx-include="input[name='package_name']"
    hx-target="this"
    hx-swap="beforeend">
    {% for package in packages %}
        {{ package_line_item(package) }}
    {% endfor %}
</ul>

{% endmacro %}